*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea,
select {
	font: inherit;
}

button,
input,
textarea,
select {
	margin: 0;
}

button {
	border: 0;
	padding: 0;
	background: none;
	color: inherit;
	cursor: pointer;
}

img,
picture,
svg,
video,
canvas {
	display: block;
	max-width: 100%;
}

img {
	height: auto;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

iframe {
	border: 0;
}

/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


/* Variables */
:root {
	--background-default: #FAFAFA;
	--action-main: rgba(14, 13, 15, 0.64);
	--action-main-svg: rgb(14, 13, 15);
	--divider-main: rgba(14, 13, 15, 0.08);
	--text-primary: #0E0D0F;
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast: #0A090A;
	--purple-main: #6F76C0;
}

.dark-mode-gamestore {
	--background-default: #0E0D0F;
	--action-main: rgba(255, 255, 255, 0.64);
	--action-main-svg: rgb(255, 255, 255);
	--divider-main: rgba(255, 255, 255, 0.12);
	--text-primary: #FFFFFF;
	--secondary-48: rgba(14, 13, 15, 0.60);
	--white-contrast: #FFFFFF;
}

body {
	font-family: Urbanist;
	font-style: normal;
}